
        * {
            margin: 0px;
            font-family: '微软雅黑';
        }

        a {
            text-decoration: none;
        }

        body {
            width: 100%;
            background-color: #ccc;
        }

        .banner {
            width: 100%;
            height: 600px;
            background: black;
        }

        .bannerbg {
            width: 100%;
            height: 600px;
            position: absolute;
        }

        .bannerContent {
            width: 1280px;
            height: 600px;
            margin: 0px auto;
            position: relative;
        }

        #navEX {
            width: 450px;
            height: 36px;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 24px;
            right: 50px;
            top: 35px;
            position: absolute;
            display: flex;
        }

        .navBar {
            margin: auto;
            display: flex;
        }

        .navBar>a {
            width: 82px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            z-index: 1000;
            color: rgba(255, 255, 255, 0.6);
        }

        .navBar>a:hover {
            color: #ace0ee;
            transition: color 0.6s;
        }

        .navBar>a:visited {
            color: rgba(255, 255, 255, 0.6);
        }

        .blender {
            width: 1280px;
            margin: 0px auto;
            left: 50px;
            top: 30px;
            position: absolute;
        }

        .px1 {
            color: rgba(255, 255, 255, 0.6);
            font-size: 24px;
        }

        .px2 {
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
        }

        .center {
            width: 100%;
        }

        .center-content {
            width: 1280px;
            height: 720px;
            margin: 0 auto;
        }

        .bottomWrapper {
            width: 1280px;
            height: 480px;
            padding-top: 30px;
        }

        .bottomNewsContainer {
            width: 1280px;
            height: 560px;
        }

        .bottomNewsItem {
            width: 406.6px;
            height: 280px;
            margin-right: 30px;
            float: left;
            background-size: 406.6px 280px;
            transition: all 0.3s;
            position: relative;
        }

        .bottomNewsItem2 {
            width: 406.6px;
            height: 280px;
            margin-top: 30px;
            margin-right: 30px;
            float: left;
            background-size: 406.6px 280px;
            transition: all 0.3s;
            position: relative;
        }
        
        .newsItemBlender{
            width: 406.6px;
            height: 56px;
            bottom: 0px;
            left: 0px;
            position:absolute;
            line-height: 56px;
            text-align: center;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(00, 00, 00, 0.3);
        }
        
        .bottomNewsItem:hover, .bottomNewsItem2:hover {
            box-shadow: 0px 0px 25px black;
            transition: all 0.3s;
        } 

        .moreNewsWrapper {
            width: 1280px;
            height: 96px;
            display: flex;
        }

        .moreNews {
            width: 164px;
            height: 32px;
            color: #333333;
            margin: auto;
            text-align: center;
            line-height: 32px;
            display: block;
            transition: all 0.3s;
        }

        .moreNews:hover {
            transform: scale(1.1);
            transition: all 0.3s;
        }

        .moreNews:visited {
            color: #333333;
            transition: all 0.3s;
        }

        .footer {
            width: 100%;
            height: 48px;
            background-color: #dddddd;
        }

        .footer p {
            text-align: center;
        }

        .p1 {
            color: #333333;
            font-size: 14px;
            padding-top: 10px;
        }

        .p2 {
            color: #333333;
            font-size: 14px;
        }

        .bottomNewsItem>a, .bottomNewsItem2>a {
            width: 406.6px;
            height: 280px;
            background: rgba(00, 00, 00, 0.0);
            border-color: rgba(00, 00, 00, 0.0);
        }

        .bottomNewsItem>a:hover, .bottomNewsItem2>a:hover {
            background: rgba(00, 00, 00, 0.0);
            border-color: rgba(00, 00, 00, 0.0);
        }

        .bottomNewsItem>a:active, .bottomNewsItem2>a:active {
            background: rgba(00, 00, 00, 0.0);
            border-color: rgba(00, 00, 00, 0.0);
        }

        .bottomNewsItem>a:visited, .bottomNewsItem2>a:visited {
            background: rgba(00, 00, 00, 0.0);
            border-color: rgba(00, 00, 00, 0.0);
        }

        .coursebg {
            width: 550px;
            height: 200px;
            background-image: url(../images/computer/coursebg.jpg);
            background-repeat: no-repeat;
            background-size: 550px 400px;
            position: relative;
        }

        .coursebgOverlay {
            width: 550px;
            height: 200px;
            top: 0px;
            left: 0px;
            background: rgba(00, 00, 00, 0.5);
            position: absolute;
        }

        .overlayText {
            color: rgba(255, 255, 255, 0.8);
            left: 40px;
            bottom: 15px;
            font-size: 24px;
            font-weight: bold;
            position: absolute;
        }

        .intrduce {
            width: 550px;
            height: 295px;
        }

        .ps1 {
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
        }

        .ps2 {
            font-size: 16px;
            font-weight: bold;
        }

        .ps3 {
            font-size: 12px;
            font-weight: bold;
        }

        .buttonFrame {
            background: lightblue;
        }

        .md-content {
            height: 560px;
        }