
#navPad {
            width: 100%;
            z-index: 1000;
            top: 35px;
            position: absolute;
            transition: all 0.6s;
            transition-timing-function: ease;
        }
        
        #navWrapper {
            width: 1280px;
            height: 80px;
            margin: 0px auto;
            background-image: url(../images/public/logo.png);
            background-size: 20%;
            background-repeat: no-repeat;
            background-position: left center;
            transition: all 0.6s;
            transition-timing-function: ease;
        }

        .navBar {
            width: auto;
            height: 80px;
            float: right;
            display: flex;
        }

        .navItem {
            margin-top: auto;
            margin-bottom: auto;
            display: inline-block;
            padding: 5px 10px;
            color: rgba(255, 255, 255, 0.8);
            transition: color 0.2s;
        }

        .navItem:hover {
            color: #ace0ee;
            transition: color 0.2s;
        }

        .navItem:visited {
            color: rgba(255, 255, 255, 0.8);
            transition: color 0.2s;
        }

        .user {
            width: 36px; 
            height: 36px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5px;
            margin-right: 8px;
            background: rgba(255, 255, 255, 0.5);
            border: 1 solid rgba(255, 255, 255, 0.5);
            border-radius: 45px;
            transition: all 0.6s;
            transition-timing-function: ease;
            background-image: url(../images/sculpture.jpg);
            background-size: 48px 48px;
            background-position: center;
        }

        .user:hover {
            transform: scale(1.5);
            transition: all 0.2s ease-inï¼›
        }

        .userLink {

        }

        .sculpture {
            width: 35px; 
            height: 35px;
            border-radius: 45px;
        }