
        * {
            font-family: '微软雅黑';
            font-weight: 400;
        }

        .pageContainer {
            width: 100%;
        }

        .header {
            width: 100%;
            height: 600px;
            margin: 0px auto;
            position: relative;
            background-image: url(../images/index/mianbg.png);
            background-size: 1366px 600px;
            background-position: center;
        }

        .blendLayer {
            width: 100%;
            height: 600px;
            background: rgba(00, 00, 00, 0.5);
        }

        .contactWrapper {
            width: 1280px;
            height: 24px;
            top: 10px;
            left: 50%;
            margin-left: -640px;
            position: absolute;
            z-index: 800;
        }

        .contact {
            float: right;
        }

        .contactItem {
            font-size: 12px;
            line-height: 24px;
            padding-right: 10px;
            color: #bdc2c2;
            transition: color 0.1s;
        }

        .contactItem:hover {
            color: #84c0d0;
            transition: color 0.1s;
        }

        .contactItem:visited {
            color: #84c0d0;
            transition: color 0.1s;
        }

        .departmentBox {
            width: 1280px;
            height: 92px;
            left: 50%;
            bottom: 0px;
            margin-left: -640px;
            position: absolute;
        }

        #box1 {
            width: 1080px;
        }

        #box2 {
            width: 1000px;
        }

        #box1, #box2{
            display: flex;
            font-size: 14px;
            margin: 0px auto;
            padding-top: 10px;
        }

        #box1 a, #box2 a {
            color: rgba(255, 255, 255, 0.6);
            transition: color 0.2s;
        }

        #box1 a:hover, #box2 a:hover {
            color: #ace0ee;
            transition: color 0.2s;
        }

        #box1 a:visited, #box2 a:visited {
            color: rgba(255, 255, 255, 0.6);
            transition: color 0.2s;
        }

        .departmentBoxItem { 
            width: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-left: 10px;
            padding-right: 10px;
        }

        .news {
            width: 100%;
            height: 1160px;
            background: #f2f2f2;
        }

        .newsContent {
            width: 1280px;
            height: 1160px;
            margin: 0px auto;
        }

        .topNews {
            width: 1280px;
            height: 162px;
            padding-top: 30px;
        }

        .banner {
            width: 1280px;
            height: 162px;
            background-image: url(../images/index/banner.jpg);
            background-position: center;
            position: relative;
            opacity: 0.7;
        }

        .bannerBlender {
            width: 1280px;
            height: 162px;
            background: rgba(00, 00, 00, 0.7);
        }

        .bannerText {
            width: 960px;
            color: rgba(255, 255, 255, 0.7);
            font-size: 27px;
            left: 170px;
            top: 45px;
            position: absolute;
        }

        .moreButton {
            width: 86px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            display: inline-block;
            color: rgba(0, 0, 0, 0.9);
            background: rgba(255, 255, 255, 0.7);
            left: 597px;
            bottom: 25px;
            position: absolute;
            transition: all 0.3s;
        }

        .moreButton:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 10px;
            transition: all 0.3s;
        }

        .moreButton:visited {
            background: rgba(255, 255, 255, 0.7);
            transition: all 0.3s;
        }

        .bottomWrapper {
            width: 1280px;
            height: 480px;
            padding-top: 30px;
        }

        .bottomNewsContainer {
            width: 1280px;
            height: 560px;
        }

        .bottomNewsItem {
            width: 406.6px;
            height: 280px;
            margin-right: 30px;
            float: left;
            background-size: 406.6px 280px;
            transition: all 0.3s;
            position: relative;
        }

        .bottomNewsItem2 {
            width: 406.6px;
            height: 280px;
            margin-top: 30px;
            margin-right: 30px;
            float: left;
            background-size: 406.6px 280px;
            transition: all 0.3s;
            position: relative;
        }
        
        .newsItemBlender{
            width: 406.6px;
            height: 56px;
            bottom: 0px;
            left: 0px;
            position:absolute;
            line-height: 56px;
            text-align: center;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(00, 00, 00, 0.3);
        }
        
        .bottomNewsItem:hover, .bottomNewsItem2:hover {
            box-shadow: 0px 0px 25px black;
            transition: all 0.3s;
        } 

        .phrase{
            width: 1280px;
            height: 228px;
            padding-top: 30px;
            text-align: center;
        }

        .phraseTitle {
            font-size: 36px;
            color: #333333;
            padding-top: 40px;
            padding-bottom: 20px;
        }

        .phraseText {
            font-size: 14px;
            color: #333333;
            padding-top: 10px;
        }

        .moreNewsWrapper {
            width: 1280px;
            height: 96px;
            display: flex;
        }

        .moreNews {
            width: 164px;
            height: 32px;
            color: #333333;
            margin: auto;
            text-align: center;
            line-height: 32px;
            display: block;
            transition: all 0.3s;
        }

        .moreNews:hover {
            transform: scale(1.1);
            transition: all 0.3s;
        }

        .moreNews:visited {
            color: #333333;
            transition: all 0.3s;
        }

        .achievements {
            width: 100%;
            height: 600px;
            background-image: url(../images/index/acheivebg.png);
        }

        .achievementsContent {
            width: 1280px;
            height: 600px;
            margin: 0px auto;
            background-image: url(../images/index/acheive.jpg);
            background-size: 1280px 600px;
        }

        .joinUs {
            width: 100%;
            height: 600px;
            background-image: url(../images/index/news1.jpg);
            background-size: 1366px 900px;
            position: relative;
        }

        .joinUsBlender {
            width: 100%;
            height: 600px;
            top: 0px;
            left: 0px;
            position: absolute;
            background: rgba(00, 00, 00, 0.7);
        }

        .jup1 {
            position: relative;
            z-index: 1000;
            padding-top: 200px;
            font-family: '华文行楷';
            text-align: center;
            font-size: 72px;
            color: rgba(255, 255, 255, 0.8);
        }

        .jup2 {
            position: relative;
            z-index: 1000;
            padding-top: 64px;
            text-align: center;
            font-size: 24px;
            color: rgba(255, 255, 255, 0.6);
        }

        .footer {
            width: 100%;
            height: 74px;
            background: #cccccc;
        }

        .footerContent {
            width: 100%;
            height: 59px;
            margin: 0px auto;
            padding-top: 15px;
        }

        .footerContent>p {
            font-size: 13px;
            text-align: center;
            padding-bottom: 5px;
            color: #666666;
        }